*.class

# Package Files #
*.jar
*.war
*.ear

# LaTeX temporary files
*.aux
*.log
*.out
*.toc
*.synctex.gz

# files for the dex VM
*.dex

*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
Sudoku/lib/**
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath
Sudoku/coverage-report/